.chatmain{
  &__group{
    &--info{
      background-color:#ffffff;
      position:absolute;
      top:0px;
      left:300px;
      height:100px;
      width:1065px;
    }
    &--text{
      position:absolute;
      top:35px;
      left:340px;
      color:#333333;
      font-size:20px;
      height:30px;
      width:200px;
    }
    &--member{
      position:absolute;
      top:80px;
      left:340px;
      color:#999999;
      font-size:12px;
    }
    &--btn{
      margin-top:auto;
      position:absolute;
      top:28px;
      left:1188px;
      width:72px;
      height:40px;
      color:#38aef0;
      border:1px solid #8a9aa1;
      text-align:center;
      margin-left:auto;
      margin-right:auto;
      line-height:37px;
    }
  }
  &__message{
    &--list{
      background-color:#fafafa;
      position:absolute;
      top:100px;
      left:300px;
      height:421px;
      width:1065px;
    }
    &--form{
      background-color:#d2d2d2;
      height:90px;
      width:1065px;
      position:absolute;
      top:521px;
      left:300px;
    }
    &--lista1{
      position:absolute;
      top:137px;
      left:340px;
      color:#333333;
      font-size:16px;
    }
    &--lista2{
      position:absolute;
      top:137px;
      left:387px;
      color:#999999;
      font-size:12px;
    }
    &--lista3{
      position:absolute;
      top:167px;
      left:340px;
      color:#434A54;
      font-size:14px;
    }
    &--listb1{
      position:absolute;
      top:230px;
      left:340px;
      color:#333333;
      font-size:16px;
    }
    &--listb2{
      position:absolute;
      top:230px;
      left:387px;
      color:#999999;
      font-size:12px;
    }
    &--listb3{
      position:absolute;
      top:260px;
      left:340px;
      color:#434A54;
      font-size:14px;
    }
    &--btn{
      position:absolute;
      top:547px;
      left:1225px;
      color:white;
      border:1px solid blue;
      width:100px;
      height:40px;
      margin-top:auto;
      text-align:center;
      margin-left:auto;
      margin-right:auto;
      line-height:37px;
      background-color:blue;
    }
    &--plate{
      position:absolute;
      top:543px;
      left:330px;
      height:50px;
      width:880px;
      background-color:white;
    }
    &--inputi{
      position:absolute;
      top:557px;
      left:1185px;
      .icon2{
        height:80px;
        
        width:80px;
      }
    }
  }
}
.file-select{
  display:none;
}
.texinp{
  padding: 0 40px 0 10px;
  height:50px;
  width:880px;
}
.input-box__image{
  position:absolute;
  top:-3px;
  left:-6px;
  font-size: 1.3rem;
}

