.chatmain
  .chatmain__group   
    .chatmain__group--info
    .chatmain__group--text
      test
    .chatmain__group--member
      Member:masa
    =link_to "#" do
      .chatmain__group--btn
        Edit
  .chatmain__message
    .chatmain__message--list
    .chatmain__message--form
    .chatmain__message--text
    .chatmain__message--icon
    =link_to "#" do
      .chatmain__message--btn
        Send
    .chatmain__message--plate
      %input{type: :text, name: :name,:class =>"texinp",placeholder:'Type a message'}
    .chatmain__message--inputt
    .chatmain__message--inputi
      %label{class: "input-box__image"}
        = icon('fa', 'image',class: 'icon2')
        %input{type: "file",:class =>"file-select"}
    .chatmain__message--lista1
      masa
    .chatmain__message--lista2
      2019/11/20(Wed)17:43:01
    .chatmain__message--lista3
      おはよう
    .chatmain__message--listb1
      masa
    .chatmain__message--listb2
      2019/11/20(Wed)17:43:34
    .chatmain__message--listb3
      今日は夜から雨
      

