.sidebar
  .sidebar__user
    .sidebar__user--name
    .sidebar__user--bar
  .sidebar__group
    .sidebar__group--list
.sidebar1
  .sidebar1__user
    .sidebar1__user--bar
    .sidebar1__user--name
      masa
    .sidebar1__user--icon
      =link_to "#" do
        =icon('far','edit',class: 'left')
      =link_to "#" do
        =icon('fa','cog',class: 'right')
.sidebar2
  .sidebar2__group
    .sidebar2__group--list1
      techcamp
    .sidebar2__group--list2
      まだメッセージがありません
.sidebar3
  .sidebar3__group
    .sidebar3__group--list1
      techcamp1
    .sidebar3__group--list2
      メッセージあり
      